<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hamdiko_coretab" translate="label" sortOrder="150">
            <label>Hamdiko Modules</label>
        </tab>
        <section id="facebookcomments" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Facebook Comments</label>
            <tab>hamdiko_coretab</tab>
            <resource>Magento_Backend::admin</resource>
            <group id="general" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="active" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="title" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tab Title</label>
                    <validate>required</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="is_count_enabled" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Comments Counting</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="color_schema" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color Schema</label>
                    <source_model>Hamdiko\FacebookComments\Model\Source\ColorSchema</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="language" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Language</label>
                    <source_model>Hamdiko\FacebookComments\Model\Source\Language</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="lazy_load" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Lazy Loading</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="num_posts" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of Comments</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="order_by" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order By</label>
                    <source_model>Hamdiko\FacebookComments\Model\Source\OrderBy</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="width" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Width</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
